body{
    margin: 0px;
}

#main-content{
    position: sticky;
    top: 0px;
    z-index: 1;
    background-color: #FFCC99; 
    padding: 10px;
    border-bottom: solid black;
    border-radius: 0px 0px 20px 20px;
}

.btnColor {
    border-radius: 10px;
    background-color: rgb(97, 119, 218);
    transition: background-color .4s, border-radius .4s; 
}

.btnColor:hover {
    background-color: #FFCC99;
    border-radius: 50px;
   
}

h1.title{
    color: rgb(255, 104, 104);
}

h3.title{
    
    margin-bottom: 7px;
}

h4.title{
    font-weight: bolder;
}

.title {
    margin: 0px;
    padding: 15px;
    text-align: center;
}


.container {
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-row-gap: 10px;
}

.hour {
    border: solid 1px black;
    text-align: center;
    padding: 25px 15px;
    font-size: 20px;
    border-left-style: hidden;
}

textarea {
    padding: 10px;
    font-size: 20px ;
}
.green {
    background-color: green;

}

.red {
    background-color: rgb(255, 104, 104);
}

.yellow {
    background-color: yellow;
}

h4 {
    padding: 0px;
    margin: 0px;
}

@media (max-width: 650px){
    .container{
        width: 100vw;
        grid-template-columns: 1fr 5fr 1fr;
    }
    .title{
        padding: 0px 0px 8px 0px;
    }
    #main-content{
        padding: 15px 0px;
    }
    #timeh4{
        margin-left: 10px;
    }
    .hour{
        font-size: 15px;
        padding: 20px 0px 5px;
    }
    h3.title{
        text-align: left;
        margin-left: 15px;
        margin-bottom: 7px;
    }
}